.section {
  max-width: 128rem;
}

.header-tertiary {
  font-size: 3.2rem;
}

.feature-box {
  grid-template-columns: 1fr;
}

.feature--box {
  margin-bottom: 12.8rem;
  /* column-gap: 2.4rem; */
  gap: 9.6rem;
  /* margin-bottom: 12.8rem; */
  justify-content: center;
}

.feature--box:nth-child(even) {
  grid-template-columns: 3fr 1fr;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
