/*************************/
/* BELOW 1344PX (SMALLER DESKTOPS) */
/*************************/

@media (max-width: 84em) {
  .header-primary {
    margin-bottom: 3.2rem;
    letter-spacing: normal;
  }
  .header-secondary {
    font-size: 2.8rem;
    margin-bottom: 0;
  }
  .header-tertiary {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 1.4em;
  }

  .feature h2 {
    margin-bottom: 1.6rem;
  }
  .section-about {
    padding-right: 0;
  }

  .about-img {
    width: 100%;
  }

  .about-us--text {
    margin: 2.4rem 3.2rem;
  }
  .section-testimonial {
    max-width: 96rem;
  }
}

@media (max-width: 70em) {
  html {
    font-size: 56.25%;
  }

  .section-pricing {
    max-width: 108rem;
  }

  .copyright {
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (max-width: 59em) {
  .header {
    padding: 2rem 4.8rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header-primary {
    font-size: 2rem;
    letter-spacing: 1.5px;
  }
  .header-primary span {
    font-size: 5.2rem;
    letter-spacing: 2px;
  }
  .description-text {
    font-size: 2rem;
    line-height: 1.8;
  }
  .hero--btn-box {
    justify-content: center;
    margin-bottom: 4.8rem;
  }

  .icon {
    width: 3.6rem;
    height: 3.6rem;
  }

  .feature-box {
    column-gap: 2.4rem;
  }

  .feature--img-box {
    height: 70%;
  }

  .section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .about-us--img img {
    width: 100%;
    /* height: 50%; */
  }
  .about-us--text h3 {
    font-size: 2.4rem;
  }

  .about-text {
    font-size: 1.8rem;
  }

  .section-testimonial {
    max-width: 80rem;
  }

  .carousel--img-box {
    width: 30rem;
  }

  .feedback {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .pricing-header {
    margin-left: 9.6rem;
  }

  .pricing-box {
    max-width: 80rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    position: relative;
  }

  .form input {
    width: 100%;
    height: 6.4rem;
    margin-bottom: 0;
  }
  .form input.message-box {
    height: 15rem;
  }
  .btn-form {
    position: absolute;
    bottom: 0rem;
    width: 49%;
  }

  /* Mobile nav */

  .btn-mobile-nav {
    display: block;
    z-index: 1000;
  }

  .nav-container {
    background-color: #fff;
    backdrop-filter: blur(9px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide nav */

    /* 1) make it invisible */
    opacity: 0;
    /* 2) make it unaccessiblr to mouse and keyboard */
    pointer-events: none;
    /* 3) hide it from scren readers */
    visibility: hidden;
  }

  .nav-open .nav-container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .close-icon {
    display: block;
  }

  .nav-open .open-icon {
    display: none;
  }

  .main-nav {
    flex-direction: column;
    gap: 3.6rem;
  }

  .nav-item {
    font-size: 2rem;
    font-weight: 700;
  }

  .header-footer {
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 1rem;
    line-height: 1.2;
  }

  .footer-link,
  .contact {
    font-size: 1.2rem;
    font-weight: 350;
  }
}

@media (max-width: 44em) {
  .logo {
    width: 4.4rem;
    height: 4.4rem;
  }
  .icon-mobile-nav {
    width: 2rem;
    height: 2rem;
  }
  .header-tertiary {
    font-size: 2rem;
  }
  .btn {
    font-size: 1.6rem;
    padding: 1.6rem 3.2rem;
  }

  .feature--img-box {
    height: 50%;
  }

  .section-testimonial {
    max-width: 64rem;
  }

  .carousel--img-box {
    width: 16rem;
  }

  .section-pricing {
    max-width: 60rem;
  }

  .pricing-header {
    margin-left: auto;
    margin-bottom: 4.8rem !important;
  }

  .plan-name {
    font-size: 3rem;
  }

  .list-item {
    font-size: 1.6rem;
  }

  .feedback {
    font-size: 1.6rem;
    /* line-height: 1.6; */
  }
  .quote-img img {
    width: 6.4rem;
  }

  .form {
    gap: 2.4rem;
  }
  .form input {
    height: 5rem;
  }

  .img-col,
  .address-col {
    grid-column: span 3;
    /* grid-row: 1; */
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .cta {
    padding: 2.4rem;
    margin-left: auto;
  }

  .header-footer {
    font-size: 1.6rem;
  }

  .copyright {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .footer-link,
  .contact {
    /* font-size: 1.6rem; */
    font-weight: 350;
  }
}

@media (max-width: 41em) {
  .description-text {
    font-size: 1.8rem;
  }
  .feature-box {
    display: block;
  }
  .feature--box {
    margin-bottom: 3.2rem;
  }
  .feature--box:last-child {
    margin-bottom: 0;
  }

  .feature--img-box {
    height: 100%;
    width: 80%;
  }

  .about-text {
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .cta {
    margin-left: 4.8rem;
  }

  .form {
    grid-template-columns: 1fr;
    position: unset;
    width: 70%;
  }

  .btn-form {
    position: unset;
  }

  .footer-link,
  .copyright {
    font-size: 1.2rem;
  }
}

@media (max-width: 35em) {
  .section-testimonial {
    max-width: 59rem;
  }

  .carousel--img-box {
    width: 24rem;
  }

  .pricing-box {
    gap: 2.4rem;
  }
  .pricing-btn {
    font-size: 1.4rem;
    padding: 1.6rem 3.2rem;
  }
  .cta {
    margin-left: auto;
  }
  .form {
    width: 100%;
  }
}

@media (max-width: 28em) {
  .nav-item {
    font-size: 1.8rem;
  }
  .section-hero {
    padding: 0 3.2rem;
  }
  .header-primary span {
    font-size: 4.8rem;
  }
  .section-feature {
    padding: 4.8rem 3.2rem;
  }

  .feature--img-box {
    width: 100%;
    height: 80%;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }

  .section-testimonial {
    max-width: 48rem;
  }

  .carousel--img-box {
    width: 16rem;
  }

  .arrow {
    width: 3.6rem;
    height: 3.6rem;
  }

  .arrow-container {
    top: 25%;
  }

  .quote-img img {
    width: 4.8rem;
  }

  .pricing-header {
    margin-left: 4.8rem;
  }

  .pricing-box {
    grid-template-columns: 1fr;
  }

  .pricing-box--item {
    margin: auto 4.8rem;
  }
  .plan-name {
    font-size: 3.2rem;
  }

  .plan-class {
    font-size: 2rem;
  }

  .list-item {
    font-size: 1.8rem;
  }

  .section-footer {
    padding: 9.6rem 3.2rem;
  }

  .footer {
    column-gap: 1.6rem;
  }
}

@media (max-width: 22em) {
  .header {
    padding: 2.4rem;
  }
  .header-primary {
    font-size: 1.8rem;
  }
  .hero--description-text {
    text-align: left;
  }
  .btn {
    font-size: 1.4rem;
  }

  .feature--img-box {
    height: 50%;
  }

  .testimonial-box {
    margin-left: 2.4rem;
  }
  /* .arrow-container {
    margin-left: 2.4rem;
  } */

  .pricing-box--item {
    margin: auto 3.2rem;
  }

  .form {
    gap: 1.6rem;
  }
}

@media (max-width: 20em) {
  .header {
    padding: 2rem;
  }
  .header-primary {
    font-size: 1.6rem;
  }

  .header-primary span {
    font-size: 3.6rem;
  }

  .header-tertiary {
    font-size: 1.8rem;
  }

  .description-text {
    font-size: 1.6rem;
  }

  .btn {
    padding: 1.6rem 2.4rem;
  }

  .icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .feature-text {
    font-size: 1.2rem;
  }

  .about-us--text h3 {
    font-size: 1.8rem;
  }

  .about-text {
    font-size: 1.6rem;
    text-align: left;
  }

  .carousel--img-box {
    margin-bottom: 3.2rem;
  }

  .feedback {
    padding-top: 1.2rem;
  }

  .pricing-box--item {
    padding: 2.4rem 0;
  }

  .header-footer {
    font-size: 1.4rem;
  }

  .footer-link,
  .address,
  .copyright {
    font-size: 1rem;
  }
}
